body{
    height: 97vh ;
    /* transform: rotate(-50 -50); */
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#D8E1E9 ;
}
.container{  
    /* border: 2px solid blue; */
    height: 25em;
    width: 25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: #B3C5D7;
    box-shadow: 4px gray;
}